
// Container
.container {
  margin-inline: auto;
  width: min($max-width, 100% - ($con-padding * 2));
}

// Columns
.even-columns {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.even-columns > * {
  flex-grow: 1;
}

@media (min-width: $mq-medium) {
  .even-columns {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}

// Orientation
.vertical-align-center {
  align-items: center;
}

.justify-self-end {
  justify-self: end;
}

@media (min-width: $mq-medium) {
  .justify-self-end-md {
    justify-self: end;
  }
}

.push-right {
  margin-left: auto;
}

// Text Orientation
.text-centered {
  text-align: center;
}

// Text Colors
.text-primary-400 {
  color: $clr-primary-600;
}
.text-accent-400 {
  color: $clr-accent-400;
}
.text-accent-100 {
  color: $clr-accent-100;
}
.text-neutral-100 {
  color: $clr-neutral-100;
}
.text-neutral-900 {
  color: $clr-neutral-900;
}

// Background Colors
.bg-primary-400 {
  background-color: $clr-primary-400;
}
.bg-primary-600 {
  background-color: $clr-primary-600;
}
.bg-primary-800 {
  background-color: $clr-primary-800;
}
.bg-accent-400 {
  background-color: $clr-accent-400;
}
.bg-accent-100 {
  background-color: $clr-accent-100;
}
.bg-neutral-100 {
  background-color: $clr-neutral-100;
}
.bg-neutral-900 {
  background-color: $clr-neutral-900;
}

// Font Weight
.fw-bold { font-weight: $fw-bold; }
.fw-semi-bold { font-weight: $fw-semi-bold; }
.fw-regular { font-weight: $fw-regular; }

// Font Size for Headings
.fs-primary-heading {
  font-size: $fs-primary-heading;
  line-height: 1.2;
}
.fs-secondary-heading {
  font-size: $fs-secondary-heading;
  line-height: 1.2;
}

// Font Size for Body
.fs-100 { font-size: $fs-100; }
.fs-200 { font-size: $fs-200; }
.fs-300 { font-size: $fs-300; }
.fs-400 { font-size: $fs-400; }
.fs-500 { font-size: $fs-500; }
.fs-600 { font-size: $fs-600; }
.fs-700 { font-size: $fs-700; }

// Padding
.padding-block-900 {
  padding-block: $size-900;
}
.padding-block-700 {
  padding-block: $size-700;
}

// Margin
.margin-bottom-700 {
  margin-block-end: $size-700;
}
.margin-bottom-500 {
  margin-block-end: $size-500;
}
.margin-bottom-300 {
  margin-block-end: $size-300;
}

// Display on large screens
.display-lg-none {
  display: none;
}

@media (min-width: $mq-medium) {

  .display-md-inline-flex {
    display: inline-flex;
  }

}

// Debugging
.flow > * + * { /* checking stuff on children */
  outline: 3px solid lime;
}

// Hide
/* https://a11y-guidelines.orange.com/en/articles/accessible-hiding/ */
.visually-hidden {
  border: 0 !important;
  clip: rect(0,0,0,0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}