/* ### AGENCY ## */
.agency-card {
    aspect-ratio: 1 / 1;
    display: grid;
    margin: 0 auto;
    max-width: 550px;
    opacity: 0;
    perspective: 1000px;
    transform: translateX(100px);
    transition: 1s;
}

.agency-card.slide-right {
    opacity: 1;
    transform: translateX(0);
}

.agency-card__content {
    outline: 1px solid transparent;
    padding: $size-500;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 3s;
}

.agency-card:hover .agency-card__content {
    cursor: ew-resize;
    transform: rotateY(180deg);
}

.agency-card__frontside,
.agency-card__backside {
    backface-visibility: hidden;
    bottom: 0;
    left: 0;
    padding: $size-500;
    position: absolute;
    right: 0;
    top: 0;
    transform-style: preserve-3d;
}

.agency-card__frontside {
    background-color: $clr-primary-200;
    border-radius: $size-200;
}

.agency-card__backside {
    background-color: $clr-primary-200;
    border: 4px solid $clr-primary-200;
    border-radius: $size-200;
    color: $clr-neutral-100;
    padding: $size-500;
    transform: rotateY(-180deg);
}

.agency-card__image-wrapper {
    color: $clr-neutral-100;
    margin: 0 auto;
    padding: $size-500;
    text-align: center;
    transform: translateZ(8em);
    width: 60%;
}

.agency-card__image-wrapper img {
    border-radius: $size-200;
    margin-bottom: $size-400;
}

.agency-card__list-wrapper {
    margin: 0 auto;
    text-align: center;
    transform: translateZ(7em);
    width: 70%;
}

.agency-card__list-item {
    margin: 0 auto $size-200;
    text-align: center;
}

.agency-card__list-item span {
    background-color: $clr-primary-600;
    border-radius: 100vmax;
    color: $clr-neutral-100;
    display: inline-block;
    padding: $size-200 $size-500;
}


@media (max-width: $mq-medium) {
    .agency-card {
        aspect-ratio: 1 / 1.125;
        perspective: none;
    }
}


@media (max-width: $mq-small) {
    .agency-card {
        aspect-ratio: 1 / 1.25;
    }
    .agency-card__list-item span {
        font-size: $fs-200;
    }
}