/* ### TRAINING / LEHRAUFTRÄGE ### */
.training-list__item {
    background-color: $clr-accent-500;
    border-radius: $size-200;
    box-shadow: 0 1.125em 1em -1em $clr-accent-500;
    opacity: 0;
    transform: translateX(100px);
    transition: 500ms;
    width: 33%;
}

.training-list__item.slide-right {
    opacity: 1;
    transform: translateX(0);
}

.training-list__item h3 {
    background-color: $clr-primary-600;
    border-radius: $size-200 $size-200 0 0;
    line-height: 2.4;
    text-align: center;
}

.training-list__item ul {
    margin: $size-600 $size-400;
}

@media (max-width: $mq-medium) {
    .training-lists__wrapper {
        flex-direction: column;
        text-align: center;
    }

    .training-list__item {
        width: 100%;
    }
}